html, body, {
    position: relative;
    height: 100%;
    padding: 0;
    margin: 0;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.leaflet-container {
    background-color: black;
}

.legend {
    padding: 6px;
    max-height: 600px;
    overflow-y: auto;
}
.legend img {
    max-width: 300px;
}

#github {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 10;
  background: rgba(255, 255, 255, 0.7);
  font-size: 11px;
  z-index: 800;
  font-family: sans-serif;
  padding: 4px 4px 0 4px;
}
#github a {
  text-decoration: none;
  color: #0078A8;
}
